.App {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight:900;
}
#precaution{
  color:rgba(0, 71, 171, 1);
  font-weight: bolder;
  margin:15px;
}
#markerCoverage{
  background-color:rgba(255, 192, 61, 1);
  padding: 20px;

}
#process{
  color:rgba(0, 71, 171, 1);
  margin:0px;
  height: 932px;
}
#v_0{
  position: relative;
  color:rgba(0, 71, 171, 1);
  height: 345px;
  top: 93px;
}
#procedure{
  position: absolute;
  color:rgb(0, 0, 0);
  height: 248px;
  width: 387px;
  top: 21px;
  left: 150px;
}
#v_1{
  color:rgb(0, 0, 0);
  font-weight: 500;
  height: 34px;
  width: 387px;
  margin-top: 0px;
  margin-left: 0px;
  font-size: 30px;
  text-align: start;
}
#v_2{
  color:rgb(0, 0, 0);
  font-weight: 700;
  height: 34px;
  width: 387px;
  margin-top: 0px;
  margin-left: 0px;
  font-size: 30px;
  font-family: Montserrat;
  text-align: start;
}
#v_3{
  position: relative;
  width: 385px;
  height: 116px;
  left: 0px;
  top: 64px;
  
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 29px;
  /* or 161% */
  
  letter-spacing: -0.007em;
  
  color: #2B2D42;
  text-align: start;
}
#v_4{
  position: relative;
width: 227px;
height: 345px;
left: 603px;
}
#card_1{
  position: absolute;
width: 151.08px;
height: 120px;
left: 26px;
top: 20px;
}
#v_4_1{
  
position: absolute;
width: 212px;
height: 22px;
left: 15px;
top: 170px;

font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 18px;
display: inline-block;
overflow: hidden;
white-space: nowrap;
color: #2B2D42;
text-align: left;
}
#v_4_2{
  position: absolute;
width: 175px;
height: 68px;
left: 26px;
top: 202px;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 17px;
letter-spacing: -0.005em;

color: #2B2D42;
text-align: left;
}
#v_5{
  position: absolute;
width: 227px;
height: 345px;
left: 830px;
top: 0px;

}
#v_6{
  position: absolute;
width: 227px;
height: 345px;
left: 1057px;
top: 0px;

}
#caution{
  display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;

position: relative;
width: 1139px;
height: 345px;
left: 150px;
top: 110px;
}
#v_7{
  position: relative;
width: 227px;
height: 345px;
left: 0px;
}
#v_8{
  position: relative;
width: 227px;
height: 345px;
left: 0px;
}
#v_9{
  position: relative;
width: 227px;
height: 345px;
left: 0px;
}
#v_10{
  position: relative;
width: 227px;
height: 345px;
left: 0px;
}
#v_11{
  position: relative;
width: 227px;
height: 345px;
left: 0px;
}
#call{
  position: absolute;
width: 151.08px;
height: 120px;
left: 26px;
top: 20px;
}
#v_12{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 23px 31px;
  
  position: absolute;
  left: 37px;
  bottom: 24px;
  
  background: #0047AB;
  border-radius: 2px;
  
  /* Inside Auto Layout */
  
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 0px;
}
hr {
height:2px;;background-color:darkgray
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-weight: bolder;
  
}

li {
  float: left;
  border-right:1px solid #bbb;
}

li:last-child {
  border-right: none;
}

li a {
  display: block;
  
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-weight:900;
  font-family: Montserrat;
font-style: normal;

font-size: 18px;
line-height: 22px;



color: #2B2D42;
}

li a:hover:not(.active) {
  background-color: #111;
}
.itemOfReview
{
  word-wrap:break-word;
  background-color: white;
  padding: 10px;
  margin: 20px;
  
}
.NavButtons
{
  border-radius: 50%;
  height: 30px;
}


