.App {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight:900;
}
#precaution{
  color:rgba(0, 71, 171, 1);
  font-weight: bolder;
  margin:15px;
}
#markerCoverage{
  background-color:rgba(255, 192, 61, 1);

  padding: 20px;

}
hr {
height:2px;;background-color:darkgray
}

.itemOfReview
{
  word-wrap:break-word;
  background-color: white;
  padding: 10px;
  margin: 20px;
  
}
.NavButtons
{
  border-radius: 50%;
  height: 30px;
}


