
#message{

background: linear-gradient(to bottom left, #ffffff 30%, #ff9933 250%);
width:40%;
height: 450px;
text-align:left;
}
#messagePaddingDiv{
    padding-left:15px;
    
}

#old{
    
    clip-path: polygon(5% 100%,100% 100%,100% 0,18% 0);
    
    height:450px;
}
#Appoint{
    display:flex;
    flex-wrap:nowrap;
}
#makeAppointment{
    border-radius:2px;
    background-color:rgba(0, 71, 171, 1);
    color:white;
    font-size:16px;
    width:342px;
    height:66px;
    font-family:'Montserrat';
    
}
#message1{
  
    font-size: 42px;word-wrap:normal;right:20px;
}
#message2{
    font-size:24px
}






@media only screen and (max-width: 760px){
#Appoint{
    display: flex;
    flex-direction: column-reverse;
}
#oldPeople{
    width:100%;
}
#old{
    
    clip-path: none;
    
    
}

#message{

    background: linear-gradient(to bottom left, #ffffff 30%, #ff9933 250%);
    width:100%;
    height: 208px;
    text-align:left;
    }
#makeAppointment{
    border-radius:2px;
    background-color:rgba(0, 71, 171, 1);
    color:white;
    font-size:14px;
    width:80%;  
    height:56px;
    font-family:'Montserrat';
}
#message1{
    font-size: 24px;word-wrap:normal;right:0;
}
#message2{
     font-size: 16px;
}
#messagePaddingDiv{
    padding-left:0px;
}

}