
#text{

    background: rgba(57,95,169,1);
    width: 50%;
    height: 286px;
    text-align:left;
    background-color: rgba(0, 71, 171, 1);
    line-height: 37px;
    }
    

    #image{
        width: 50%;
        background-color: rgba(0, 71, 171, 1);
        
    }
    #screen{
        width: 100%;
        overflow: hidden;
    }
    #people{
        
        clip-path: none;
        
        height:255px;
    }
    #part_1{
        display:flex;
        flex-wrap:wrap;
    }
    #part_2{
        display:flex;
        flex-wrap:nowwrap;
        width: 100%;
        background-color: rgba(0, 71, 171, 1);
    }
    #button{
        border-radius:2px;
        background-color:white;
        color:rgba(0, 71, 171, 1);
        font-size:16px;
        width:342px;
        height:66px;
        font-family:'Montserrat';
        margin-left: 164px;
        font-weight: bolder;
    }
    #para{
        color: white;
        font-size: 30px;
        word-wrap:normal;
        right:20px;
        line-height: 37px;
        padding-left:164px;
        padding-top: 59px;
        line-height: 37px;
    }
   
    
    
    
    
    
    @media only screen and (max-width: 760px){
        #part_1{
            display: flex;
            flex-direction: row;
        }
        #part_2{
            display: flex;
            flex-direction: column;
    
        }
    #screenshot{
        width: 100%;
        height: fit-content;
        align-items: center;
        
    }
    #people{
        
        clip-path: none;
        align-items: center;
        
    }
    
    #text{
    
        background: rgba(0, 71, 171, 1);
        width:100%;
        height: 208px;
        text-align:left;
        
        }
    #button{
        border-radius:2px;
        background-color:white;
        color:rgba(0, 71, 171, 1);
        font-size:14px;
        width:80%;  
        height:56px;
        font-family:'Montserrat';
        margin-left: 0px;
    }
    #screen{
        width: 100%;
        overflow: hidden;
        align-items: center;
    }
    #para{
        font-size: 24px;word-wrap:normal;right:0;
        padding-left:0px;
        align-items: center;
        text-align: center;
        padding-top: 25px;
    }
    
    #image{
        align-items: center;
        
    }
   
    
    }