#navid{

    display:flex;
    justify-content:space-around;
}
#navBarButton{
background-color:white;
border:0px;
color:rgba(0, 71, 171, 1);
font-size: 2em;
}
 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-weight: bolder;
    
  }
  #navBarWhenClicked {
      text-align: left;
      background-color: khaki;
  }
  #navBarWhenClicked .clsbtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 26px;
    margin-left: 50px;
  }
 .onlyForDesktop li {
    float: left;
    border-right:1px solid #bbb;
  }
  
 .onlyForDesktop li:last-child {
    border-right: none;
  }
  
 .onlyForDesktop li a {
    display: block;
    
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight:900;
    font-family: Montserrat;
    font-style: normal;
    font-size: 18px;
    line-height: 22px;
   color: #2B2D42;
  }
  
  .onlyForDesktop li a:hover {
    background-color: rgb(196, 193, 30);
  }

@media only screen and (max-width: 760px){
    .onlyForDesktop{
        display:none;
    }
    #navBarButton{
        display:inline;
    }
}